bus/bus.o
bus/libbus.a
main.o
memory/libmemory.a
memory/memory.o
mips/Makefile.archc
mips/libmips.a
mips/main.cpp.tmpl
mips/mips.H
mips/mips.cpp
mips/mips.o
mips/mips_arch.H
mips/mips_arch.cpp
mips/mips_arch.o
mips/mips_arch_ref.H
mips/mips_arch_ref.cpp
mips/mips_arch_ref.o
mips/mips_bhv_macros.H
mips/mips_isa.H
mips/mips_isa.cpp.tmpl
mips/mips_isa.o
mips/mips_isa_init.cpp
mips/mips_parms.H
mips/mips_syscall.H.tmpl
mips/mips_syscall.o
platform.x
sw/hello_world.mips
sw/hello_world.o

